@model List<Vmresult>

<div class="container ">
  <!-- Section Heading-->
  <div class="  align-items-center pt-3 justify-content-between rtl-flex-d-row-r alert alert-primary "
    style="margin-top: 80px">
    <img src="/img/core-img/discount.png" alt="" style="width:100px ;">
    امتیازات تاریخ : 1400/06/24
  </div>
  <!-- Notifications Area-->
  @{

    int i = 1;

  }
  @foreach (var item in Model)
  {


    <div class="notification-area pb-2">
      <div class="list-group">

        <!-- Single Notification--><a class="list-group-item d-flex align-items-center border-0"
        href="notification-details.html"><span class="noti-icon">@i</span>
          <div class="noti-info row">
            <div class="col-6">
              <p dir="ltr" class="form-control text-center  " style="border: none;color:blue;font-size: 17px;">
                @item.Phone </p>
            </div>

            <div class="col-6">
              @if (@item.Rate <= 0)
              {
                <p class="form-control text-center  " style="color:red;font-size: 17px;" dir="ltr">@item.Rate امتیاز</p>

              }
              else
              {
                <p class="form-control text-center  " style="color:green;font-size: 17px;" dir="ltr">@item.Rate امتیاز</p>

              }






            </div>
          </div>
        </a>

      </div>
    </div>
    i++;
  }
</div>
<script>
  <SCRIPT language="javascript" link="www.js4ir.com">
function showdate() {
    week= new Array("يكشنبه","دوشنبه","سه شنبه","چهارشنبه","پنج شنبه","جمعه","شنبه")
    months = new Array("فروردين","ارديبهشت","خرداد","تير","مرداد","شهريور","مهر","آبان","آذر","دی","بهمن","اسفند");
    a = new Date();
    d= a.getDay();
    day= a.getDate();
    month = a.getMonth()+1;
    year= a.getYear()-100;

	year = (year== 0)?2000:year;
	(year<1000)? (year += 2000):true;
    
	year -= ( (month < 3) || ((month == 3) && (day < 21)) )? 622:621;

	switch (month) {
    	case 1: (day<21)? (month=10, day+=10):(month=11, day-=20); break;
    	case 2: (day<20)? (month=11, day+=11):(month=12, day-=19); break;
    	case 3: (day<21)? (month=12, day+=9):(month=1, day-=20);   break;
    	case 4: (day<21)? (month=1, day+=11):(month=2, day-=20);   break;
    	case 5:
    	case 6: (day<22)? (month-=3, day+=10):(month-=2, day-=21); break;
    	case 7:
    	case 8:
    	case 9: (day<23)? (month-=3, day+=9):(month-=2, day-=22);  break;
    	case 10:(day<23)? (month=7, day+=8):(month=8, day-=22);    break;
    	case 11:
    	case 12:(day<22)? (month-=3, day+=9):(month-=2, day-=21);  break;
       default:  	break;
	}
document.write(week[d]+" "+day+" "+months[month-1]+" "+ year);
}
</SCRIPT>
<SCRIPT>showdate()</SCRIPT>
</script>

